{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
    <h1>{{ post.title }}</h1>
    
    {% if post.image %}
		<img src="{% static 'images/post_images/' %}{{ post.image }}" alt="{{ post.title }}" style="width: 100%; max-width: 800px; height: auto;">
    {% endif %}

    <p>{{ post.content }}</p>
    <p><strong>Autor:</strong> {{ post.author }} | <strong>Categoría:</strong> {{ post.category.name }}</p>
    <p><strong>Fecha:</strong> {{ post.created_at|date:"F j, Y" }}</p>
    
    <!-- Aquí podrías agregar un formulario de comentarios -->
{% endblock %}